<ion-header no-border>
    <ion-toolbar>
        <ion-title>message.</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <ion-textarea
                    placeholder="Send a message to {{ selectedCreative.name }}"
                ></ion-textarea>
                <ion-button (click)="onSendMessage()" class="submit-button">Send</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
