<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>discover.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let creative of loadedCreatives">
                        <ion-card>
                            <ion-img [src]="creative.profileUrl"></ion-img>
                            <ion-card-header>
                                <ion-card-title>{{ creative.name }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <p>{{ creative.description }}</p>
                                <ion-button
                                    [routerLink]="['/', 'discover', 'tabs', 'creatives', creative.id]"
                                >
                                    View
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
