<ion-header>
    <ion-toolbar>
        <ion-title>Shot Detail</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/discover/tabs/shots"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>{{ shot.name }}</h1>
                <ion-button (click)="openModalComment()">Give comment</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
