<ion-header no-border>
    <ion-toolbar>
        <ion-title>shot.</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/discover/tabs/shots" text="" icon=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>{{ shot.name }}</h1>
                <ion-button (click)="openModalComment()">Give comment</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
