// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 255, 255, 255;
    --ion-color-base-contrast: #1c1c1c;
    --ion-color-base-contrast-rgb: 28, 28, 28;
    --ion-color-base-shade: #fafafa;
    --ion-color-base-tint: #cccccc;

    --ion-color-primary: #1c1c1c;
    --ion-color-primary-rgb: 28, 28, 28;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #191919;
    --ion-color-primary-tint: #333333;

    --ion-color-secondary: #ff007a;
    --ion-color-secondary-rgb: 255, 0, 122;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #e0006b;
    --ion-color-secondary-tint: #ff1a87;

    --ion-color-tertiary: #ffda04;
    --ion-color-tertiary-rgb: 255, 218, 4;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0c004;
    --ion-color-tertiary-tint: #ffde1d;

    --ion-color-success: #21e298;
    --ion-color-success-rgb: 33, 226, 152;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #1dc786;
    --ion-color-success-tint: #37e5a2;

    --ion-color-warning: #f28705;
    --ion-color-warning-rgb: 242, 135, 5;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #d57704;
    --ion-color-warning-tint: #f3931e;

    --ion-color-danger: #ff4449;
    --ion-color-danger-rgb: 255, 68, 73;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e03c40;
    --ion-color-danger-tint: #ff575b;

    --ion-color-dark: #d7d7d7;
    --ion-color-dark-rgb: 215, 215, 215;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #bdbdbd;
    --ion-color-dark-tint: #dbdbdb;

    --ion-color-medium: #e5e5e5;
    --ion-color-medium-rgb: 229, 229, 229;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #cacaca;
    --ion-color-medium-tint: #e8e8e8;

    --ion-color-light: #f9f9f9;
    --ion-color-light-rgb: 249, 249, 249;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #dbdbdb;
    --ion-color-light-tint: #fafafa;

    --ion-toolbar-background: var(--ion-color-base);
    --ion-toolbar-border-color: var(--ion-color-base);
    --ion-tab-bar-border-color: var(--ion-color-base);
}
