<ion-header no-border>
    <ion-toolbar>
        <ion-title>comment.</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <ion-textarea placeholder="Comment on {{ selectedShot.name }}"></ion-textarea>
                <ion-button (click)="onSendComment()" class="submit-button">Comment</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
