<ion-app>
    <ion-menu class="nav-main" side="start">
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false">
                    <ion-avatar routerLink="/profile">
                        <img
                            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                            margin
                        />
                    </ion-avatar>
                    <ion-item
                        routerLink="/discover"
                        detail="false"
                        lines="none"
                        button
                    >
                        <div
                            style="background: red; height: 20px; margin: 0 0 0 14px; width: 20px;"
                        ></div>
                    </ion-item>
                    <ion-item
                        routerLink="/match"
                        detail="false"
                        lines="none"
                        button
                    >
                        <div
                            style="background: red; height: 20px; margin: 0 0 0 14px; width: 20px;"
                        ></div>
                    </ion-item>
                    <ion-item
                        routerLink="/create"
                        detail="false"
                        lines="none"
                        button
                    >
                        <div
                            style="background: red; height: 20px; margin: 0 0 0 14px; width: 20px;"
                        ></div>
                    </ion-item>
                    <ion-item
                        routerLink="/toggle"
                        detail="false"
                        lines="none"
                        button
                    >
                        <div
                            style="background: red; height: 20px; margin: 0 0 0 14px; width: 20px;"
                        ></div>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
