<ion-app>
    <ion-menu id="menu" side="start" type="reveal">
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false">
                    <ion-avatar routerLink="/profile">
                        <img
                            src="https://images.unsplash.com/photo-1528661291869-eab41a2c6544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                        />
                    </ion-avatar>
                    <span routerLink="/discover/tabs/shots" class="nav-icon"></span>
                    <span routerLink="/match/tabs/swipe" class="nav-icon"></span>
                    <span class="nav-icon"></span>
                    <hr />
                    <span class="nav-icon"></span>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
