<ion-app>
    <ion-menu id="menu" side="start" type="reveal">
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false">
                    <ion-avatar routerLink="/profile">
                        <img src="./assets/img/creatives/c7.jpg" />
                    </ion-avatar>
                    <span routerLink="/discover/tabs/shots" class="nav-icon"></span>
                    <span routerLink="/match/tabs/swipe" class="nav-icon"></span>
                    <span class="nav-icon"></span>
                    <hr />
                    <span class="nav-icon"></span>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
