<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>match.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides>
        <ion-slide>
            <h1>Person 1</h1>
        </ion-slide>
        <ion-slide>
            <h1>Person 2</h1>
        </ion-slide>
        <ion-slide>
            <h1>Person 3</h1>
        </ion-slide>
    </ion-slides>
</ion-content>
