<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>match.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide *ngFor="let creative of loadedCreatives">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-card>
                                        <img [src]="creative.profileUrl" />
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                            <ion-row class="paddingHorizontal">
                                <ion-col style="margin: -10px 0 0 12px;">
                                    <h1>{{ creative.name }}</h1>
                                    <p style="margin-top: -6px;">
                                        <strong>{{ creative.description }}</strong>
                                    </p>
                                </ion-col>
                            </ion-row>
                            <ion-row class="paddingHorizontal">
                                <ion-col style="display: flex; justify-content: center;">
                                    <ion-button class="follow-button">
                                        Follow
                                    </ion-button>
                                    <ion-button
                                        class="like-button"
                                        (click)="openModalMessage()"
                                        color="secondary"
                                    >
                                        <img
                                            src="./assets/img/icons/misc/envelope.svg"
                                            alt="Message"
                                        />
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-grid class="grid-projects">
                            <ion-row>
                                <ion-col>
                                    <ion-card>
                                        <ion-img
                                            class="detail-img"
                                            [src]="creative.project1"
                                        ></ion-img>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-card>
                                        <ion-img
                                            class="detail-img"
                                            [src]="creative.project2"
                                        ></ion-img>
                                    </ion-card>
                                </ion-col>
                                <ion-col>
                                    <ion-card>
                                        <ion-img
                                            class="detail-img"
                                            [src]="creative.project3"
                                        ></ion-img>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-card>
                                        <ion-img
                                            class="detail-img"
                                            [src]="creative.project4"
                                        ></ion-img>
                                    </ion-card>
                                </ion-col>
                                <ion-col>
                                    <ion-card>
                                        <ion-img
                                            class="detail-img"
                                            [src]="creative.project5"
                                        ></ion-img>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
