<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Discover</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="shots">
                <ion-label>Shots</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="creatives">
                <ion-label>Creatives</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
