<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>profile.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <img src="./assets/img/creatives/c7.jpg" />
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row class="paddingHorizontal">
                        <ion-col style="margin: -10px 0 0 12px; text-align: center;">
                            <h1>John Doe</h1>
                            <p style="margin-top: -6px;">
                                <strong>I am the user of this app</strong>
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="paddingHorizontal">
                        <ion-col style="display: flex; justify-content: center;">
                            <ion-button routerLink="/edit-profile" class="follow-button">
                                Edit
                            </ion-button>
                            <ion-button class="like-button" color="secondary">
                                <img src="./assets/img/icons/misc/add.svg" alt="Message" />
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid class="grid-projects">
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img
                                    class="detail-img"
                                    src="./assets/img/shots/s31.jpg"
                                ></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img
                                    class="detail-img"
                                    src="./assets/img/shots/s32.jpg"
                                ></ion-img>
                            </ion-card>
                        </ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-img
                                    class="detail-img"
                                    src="./assets/img/shots/s33.jpg"
                                ></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img
                                    class="detail-img"
                                    src="./assets/img/shots/s34.jpg"
                                ></ion-img>
                            </ion-card>
                        </ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-img
                                    class="detail-img"
                                    src="./assets/img/shots/s35.jpg"
                                ></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
