<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>discover.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-searchbar color="base" placeholder="Search artisan by..."></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h2 class="paddingHorizontal">Today's <strong>recommended</strong> projects</h2>
                <ion-slides [options]="sliderConfig">
                    <ion-slide *ngFor="let shot of loadedShots | slice:0:6">
                        <ion-card [routerLink]="['/', 'discover', 'tabs', 'shots', shot.id]">
                            <ion-img [src]="shot.shotUrl"></ion-img>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row class="negativeTop">
            <ion-col>
                <h2 class="paddingHorizontal">
                    Project's from <strong>creatives you follow</strong>
                </h2>
                <ion-list>
                    <ion-item *ngFor="let shot of loadedShots" lines="none">
                        <ion-card [routerLink]="['/', 'discover', 'tabs', 'shots', shot.id]">
                            <ion-img [src]="shot.shotUrl"></ion-img>
                            <ion-card-header>
                                <ion-card-title>{{ shot.name }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content class="negativeTop">
                                <p>by <strong>{{ shot.ownerName }}</strong></p>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
