<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Discover Page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let shot of loadedShots">
                        <ion-card>
                            <ion-img [src]="shot.shotUrl"></ion-img>
                            <ion-card-header>
                                <ion-card-title>{{ shot.name }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <p>{{ shot.tags }}</p>
                                <ion-button
                                    [routerLink]="['/', 'discover', 'tabs', 'shots', shot.id]"
                                >
                                    View
                                </ion-button>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
