<ion-header no-border>
    <ion-toolbar>
        <ion-title>edit.</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/profile" text="" icon=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="./assets/img/creatives/c7.jpg" />
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="paddingHorizontal">
            <ion-col style="display: flex; justify-content: center;">
                <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
                <ion-button color="secondary" routerLink="/profile" class="follow-button">
                    Save
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="paddingHorizontal">
                <ion-item>
                    <ion-label color="dark" position="floating">username</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="dark" position="floating">description</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row padding>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img src="./assets/img/icons/fields/branding.svg" alt="Branding" />
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img
                                src="./assets/img/icons/fields/graphic-design.svg"
                                alt="Graphic design"
                            />
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img
                                src="./assets/img/icons/fields/illustration.svg"
                                alt="Illustration"
                            />
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img
                                class="motion"
                                src="./assets/img/icons/fields/motion.svg"
                                alt="Motion"
                            />
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="negativeTop" padding>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img
                                src="./assets/img/icons/fields/photography.svg"
                                alt="Photography"
                            />
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img src="./assets/img/icons/fields/typography.svg" alt="Typography" />
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img
                                src="./assets/img/icons/fields/ux-ui-design.svg"
                                alt="UX / UI Design"
                            />
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="field-button" color="base">
                            <img src="./assets/img/icons/fields/web-design.svg" alt="Web Design" />
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
