// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import 'assets/webfonts/css/publica.css';

* {
    font-family: 'PublicaSans-Light', sans-serif;
    letter-spacing: 0.02em;
}

html {
    --ion-safe-area-top: 0;
    --ion-safe-area-bottom: 0;
    --ion-safe-area-left: 0;
    --ion-safe-area-right: 0;
}

h1 {
    font-size: 18px;
    font-weight: 900;
}

h2 {
    font-size: 16px;
    margin-top: 34px;

    strong {
        font-weight: 900;
    }
}

p {
    color: var(--ion-color-dark);
    font-size: 14px;
}

.negativeTop {
    margin-top: -26px;
}

.paddingHorizontal {
    padding: 0 18px;
}

ion-grid {
    padding: 0 !important;
    width: 100% !important;

    ion-row,
    ion-col {
        padding: inherit;
        width: inherit;
    }
}

ion-toolbar {
    display: flex;
    height: 100px;
    padding: 0 25px;

    ion-title {
        color: var(--ion-color-medium);
        text-align: right;

        &.ios {
            margin-left: 28px;
            width: 100vw;
        }
    }
}

ion-tab-bar {
    height: 75px;

    ion-tab-button {
        color: var(--ion-color-medium);
        font-weight: 900;
        transition: all 0.4s;

        &.tab-selected {
            color: var(--ion-color-primary);
            position: relative;

            &:before {
                background-color: var(--ion-color-primary);
                border-radius: 12px;
                content: '';
                height: 6px;
                position: absolute;
                top: calc(50% + 16px);
                left: calc(50% - 3px);
                width: 6px;
            }
        }
    }
}

#menu {
    text-align: center;
    --width: 80px;

    ion-menu-toggle {
        display: flex;
        flex-direction: column;

        ion-avatar {
            margin: 26px auto 46px auto;
            position: relative;

            &:hover {
                outline: 0;
            }

            &:before {
                background-color: var(--ion-color-secondary);
                border-radius: 17px;
                color: #fff;
                content: '2';
                font-size: 11px;
                padding-top: 3px;
                position: absolute;
                top: -2px;
                right: -2px;
                width: 17px;
                z-index: 100;
            }
        }

        .nav-icon {
            height: 20px;
            margin: 16px auto;
            transition: background 0.4s;
            width: 20px;

            &:nth-child(2) {
                background-image: url('assets/img/icons/nav/discover-grey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &:active {
                    background-image: url('assets/img/icons/nav/discover-black.svg');
                }
            }

            &:nth-child(3) {
                background-image: url('assets/img/icons/nav/match-grey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &:active {
                    background-image: url('assets/img/icons/nav/match-black.svg');
                }
            }

            &:nth-child(4) {
                background-image: url('assets/img/icons/nav/create-grey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &:active {
                    background-image: url('assets/img/icons/nav/create-black.svg');
                }
            }

            &:last-child {
                background-image: url('assets/img/icons/nav/toggle-ui-grey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &:active {
                    background-image: url('assets/img/icons/nav/toggle-ui-black.svg');
                }
            }

            &:hover {
                outline: 0;
            }
        }

        hr {
            background-color: var(--ion-color-medium);
            height: 1px;
            margin: 16px auto;
            width: 44px;
        }
    }
}

#menu-button {
    display: flex;
    flex-direction: column;
    height: 11px;
    width: 22px;

    span {
        background-color: var(--ion-color-primary);
        border-radius: 20%;
        height: 2px;
        transition: width 0.4s;
        width: 100%;

        &:last-child {
            margin-top: 7px;
            width: 70%;
        }
    }

    &:hover {
        span {
            &:first-child {
                width: 70%;
            }

            &:last-child {
                width: 100%;
            }
        }
    }
}

ion-back-button {
    background-image: url('assets/img/icons/nav/back.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 6px;
    width: 20px;
}

.searchbar-input-container {
    height: 52px !important;

    .searchbar-input {
        border: 1px solid var(--ion-color-medium);
        color: var(--ion-color-primary);
        height: inherit;

        input {
            height: inherit;
        }
    }
}

.field-button {
    box-shadow: 0px 4px 10px 0px rgba(229, 229, 229, 0.6);
    border-radius: 20px;
    display: flex;
    height: 73px;
    width: 73px;

    img {
        width: 27px;

        &.motion {
            width: 23px;
        }
    }
}

.follow-button {
    display: flex;
    float: left;
    margin-right: 9px;
    font-size: 12px !important;
    height: 43px;
    width: 86px;
}

.like-button,
.message-button {
    float: left;
    height: 43px;
    width: 43px;

    img {
        width: 33px;
    }
}

.options-button {
    float: right;
    height: 43px;
    margin-right: 3px;
    width: 13px;
}

.tag-button {
    font-size: 12px !important;
}

ion-card {
    ion-card-header {
        ion-card-title {
            font-size: 18px;
        }
    }
}

.cardStats {
    display: flex;
    flex-direction: row;
    margin: -10px 0 20px 0;

    img {
        height: 13px;
    }

    ion-label {
        color: var(--ion-color-dark);
        font-size: 12px;
        font-weight: 900;
        margin: 0 20px 0 10px;
    }
}
