<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>match.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Settings</h1>
    <p>Click the icon in the top left to toggle the menu.</p>
</ion-content>
