<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <div id="menu-button">
                        <span></span>
                        <span></span>
                    </div>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>match.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <ion-item class="paddingVertical" lines="none">
                    <ion-label>Allow discovery</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <ion-item lines="none">
                    <ion-label>
                        <h2>My <strong>specialisation</strong></h2>
                    </ion-label>
                    <ion-select placeholder="Creative field">
                        <ion-select-option value="a">Branding</ion-select-option>
                        <ion-select-option value="b">Graphic design</ion-select-option>
                        <ion-select-option value="c">Illustration</ion-select-option>
                        <ion-select-option value="d">Motion</ion-select-option>
                        <ion-select-option value="e">Photography</ion-select-option>
                        <ion-select-option value="f">Typography</ion-select-option>
                        <ion-select-option value="g">UX / UI design</ion-select-option>
                        <ion-select-option value="h">Web design</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <h2><strong>Looking</strong> for</h2>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Brand specialist</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Graphic designer</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Illustrator</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Motion designer</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Photographer</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Typographer</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>UX / UI designer</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-checkbox></ion-checkbox>
                    <ion-label>Web designer</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <ion-button
                    routerLink="/match/tabs/swipe"
                    class="submit-button"
                    style="margin-top: 22px;"
                    >Done</ion-button
                >
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
