<ion-header no-border>
    <ion-toolbar>
        <ion-title>creative.</ion-title>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/discover/tabs/creatives"
                text=""
                icon=""
            ></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="paddingHorizontal">
            <ion-col size="2">
                <ion-avatar>
                    <img [src]="creative.profileUrl" />
                </ion-avatar>
            </ion-col>
            <ion-col style="margin: -10px 0 0 12px;">
                <h1>{{ creative.name }}</h1>
                <p style="margin-top: -6px;">
                    <strong>{{ creative.description }}</strong>
                </p>
            </ion-col>
        </ion-row>
        <ion-row class="paddingHorizontal">
            <ion-col>
                <ion-button class="follow-button">
                    Follow
                </ion-button>
                <ion-button class="like-button" (click)="openModalMessage()" color="secondary">
                    <img src="./assets/img/icons/misc/envelope.svg" alt="Message" />
                </ion-button>
                <img
                    (click)="openModalMessage()"
                    class="options-button"
                    src="./assets/img/icons/misc/options.svg"
                    alt="Options"
                />
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="grid-projects">
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-img class="detail-img" [src]="creative.project1"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-img class="detail-img" [src]="creative.project2"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-img class="detail-img" [src]="creative.project3"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-img class="detail-img" [src]="creative.project4"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-img class="detail-img" [src]="creative.project5"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
