<ion-header no-border>
    <ion-toolbar>
        <ion-title>Creative Profile</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/discover/tabs/creatives"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>{{ creative.name }}</h1>
                <ion-button (click)="openModalMessage()">Contact creative</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
